<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>MetadataApp</display-name>
    <servlet>
        <servlet-name>InfoServlet</servlet-name>
        <servlet-class>com.tw.InfoServlet</servlet-class>    
    </servlet>
    <servlet-mapping>
        <servlet-name>InfoServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HelloWorldServlet</servlet-name>
        <servlet-class>com.tw.HelloWorldServlet</servlet-class>    
	</servlet>
    <servlet-mapping>
        <servlet-name>HelloWorldServlet</servlet-name>
        <url-pattern>/hello_world</url-pattern>
    </servlet-mapping>
</web-app>